# Git files
.git
.gitignore

# Docker config directory (if any)
.docker

# Python cache and virtual environments
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Ignore test artifacts or editor folders (optional)
*.log
*.sqlite3
.idea/
.vscode/
